#intro {
padding-top: 15px;
}

.responsive {
 width: 100%;
 height: auto;
}

#disc {
 color: purple;
 font-size: 30px;
}

#blog-description {
margin-top: 30px;
}


#footer {
 color: grey;
 text-decoration: none;
 margin: 0;
}

#footer:hover {
 color: white;
}

#footer-words {
 color: white;
}

